.App {
  display: flex;
  justify-content: center;
}

body {
  background-color: #049a04;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cardSection {
  border: 2px solid #9c3d3d;
  background-color: white;
  width: 60px;
  height: 76px;
}

.cardContainer {
  display: flex;
  grid-gap: 4px;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 28px;
}

.App button {
  width: 50px;
  height: 70px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-family: sans-serif;
  background-color: #e4d2d2;
  cursor: pointer;
  color: #5c5252;
}

.cardValue {
  display: flex;
  font-weight: bold;
  font-size: 18px;
}

.cardError {
  color: red;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 12px;
  width: 100%;
  text-align: center;
}

.WrapperContainer {
  display: flex;
  flex-direction: column;
  width: min-content;
  padding: 18px;
  min-width: 330px;
}

.cardSymbol {
  text-align: center;
  height: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
